@import '~antd/dist/antd.css';

.ant-table-bordered .ant-table-tbody > tr > td {
  border-right: 1px solid #e8e8e8;
  padding: 6px 13px;
}

.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid #e8e8e8;
    padding: 6px;
}

body {
  background-color: #ececec;
}

.ant-divider-horizontal.ant-divider-with-text:before, .ant-divider-horizontal.ant-divider-with-text-left:before, .ant-divider-horizontal.ant-divider-with-text-right:before, .ant-divider-horizontal.ant-divider-with-text:after, .ant-divider-horizontal.ant-divider-with-text-left:after, .ant-divider-horizontal.ant-divider-with-text-right:after {
    content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.ant-table-body {
    transition: opacity .3s;
    background-color: white;
}

.ant-table.ant-table-bordered .ant-table-title {
    border: 1px solid #e8e8e8;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
}

.ant-card-head-title {
    padding: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1;
    display: inline-block;
    font-size: 14px;
}

.ant-divider-horizontal.ant-divider-with-text-left .ant-divider-inner-text, .ant-divider-horizontal.ant-divider-with-text-right .ant-divider-inner-text {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
}

.ant-divider-horizontal.ant-divider-with-text, .ant-divider-horizontal.ant-divider-with-text-left, .ant-divider-horizontal.ant-divider-with-text-right {
    display: table;
    white-space: nowrap;
    text-align: center;
    background: transparent;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    margin: 5px 0;
}
