@import '~antd/dist/antd.css';

.ant-table-bordered .ant-table-tbody > tr > td {
  border-right: 1px solid #e8e8e8;
  padding: 6px 13px;
}

.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid #e8e8e8;
    padding: 6px;
}

body {
  background-color: #ececec;
}

.ant-divider-horizontal.ant-divider-with-text:before, .ant-divider-horizontal.ant-divider-with-text-left:before, .ant-divider-horizontal.ant-divider-with-text-right:before, .ant-divider-horizontal.ant-divider-with-text:after, .ant-divider-horizontal.ant-divider-with-text-left:after, .ant-divider-horizontal.ant-divider-with-text-right:after {
    content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    border-top: 1px solid gray;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.ant-table-body {
    transition: opacity .3s;
    background-color: white;
}

.ant-table.ant-table-bordered .ant-table-title {
    border: 1px solid #e8e8e8;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
}
